<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="heading">
    <h3>Total Bombs: {{gameBombsCount}} | Status: {{gameStatus}} | Time: {{gameTimeText}}
      <button *ngIf="isGameOver" (click)="resetGame()">Reset</button>
    </h3>
  </div>
  <div *ngIf="gameGrid.length > 0" id="gameboard">
    <div class="gameboardBorder">
      <div *ngFor="let row of gameGrid" class="wrapper">
        <div *ngFor="let tile of row" class="tile {{tile.class}}"  (click)="clickFunction(tile)">
          <div *ngIf="tile.reveal">
            <!-- <p class="text">{{tile.iconString}}</p> -->
        </div>
      </div>
    </div>
  </div>
</div>



