<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="heading">
    <h3>Total Bombs: {{gameBombsCount}} Status: {{gameStatus}}</h3>
  </div>
  <div *ngIf="gameGrid.length > 0" id="gameboard">
    <div *ngFor="let row of gameGrid" class="wrapper">
      <div *ngFor="let tile of row" class="tile"  (click)="clickFunction(tile)">
        <div *ngIf="tile.reveal">
          {{tile.isBomb}}<br>
          {{tile.iconString}}
      </div>
    </div>
  </div>
</div>



